body
{
        background-color: cornsilk;
}
.navbar
{
        background-color: black;
}
.navbar li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbar ul
{
        overflow: auto;
}

.navbar li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}


