body
{
        background-color: cornsilk;
}
.navbarCorr
{
        background-color: black;
}
.navbarCorr li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarCorr ul
{
        overflow: auto;
}

.navbarCorr li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.navbarCorr input
{
        border: 2px solid black;                
}