body
{
        background-color: cornsilk;
}
.navbarMode
{
        background-color: black;
}
.navbarMode li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarMode ul
{
        overflow: auto;
}

.navbarMode li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.navbarMode input
{
        border: 2px solid black;                
}