body
{
        background-color: cornsilk;
}
.navbarReg
{
        background-color: black;
}
.navbarReg li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarReg ul
{
        overflow: auto;
}

.navbarReg li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.navbarReg input
{
        border: 2px solid black;                
}