body
{
        background-color: cornsilk;
}
.navbarSdvn
{
        background-color: black;
}
.navbarSdvn li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarSdvn ul
{
        overflow: auto;
}

.navbarSdvn li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.navbarSdvn input
{
        border: 2px solid black;                
}

