body
{
        background-color: cornsilk;
}
.navbarMean
{
        background-color: black;
}
.navbarMean li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarMean ul
{
        overflow: auto;
}

.navbarMean li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.navbarMean input
{
        border: 2px solid black;                
}