body
{
        background-color: cornsilk;
}
.nVariance
{
        background-color: black;
}
.nVariance li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.nVariance ul
{
        overflow: auto;
}

.nVariance li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.nVariance input
{
        border: 2px solid black;                
}