body
{
        background-color: cornsilk;
}
.nMedian
{
        background-color: black;
}
.nMedian li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.nMedian ul
{
        overflow: auto;
}

.nMedian li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.nMedian input
{
        border: 2px solid black;                
}