body
{
        background-color: cornsilk;
}
.navbarStats
{
        background-color: black;
}
.navbarStats li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarStats ul
{
        overflow: auto;
}

.navbarStats li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}