body
{
        background-color: cornsilk;
}
.navbarCovariance
{
        background-color: black;
}
.navbarCovariance li
{
        float: left;
        list-style: none;
        margin: 13px 20px;              
}

.navbarCovariance ul
{
        overflow: auto;
}

.navbarCovariance li a
{
        text-decoration: none;
        color: white;
        padding: 13px;
}

.navbarCovariance input
{
        border: 2px solid black;                
}